a {
  color: white;
  text-decoration: none;
}
body {
  background: darkslateblue;
  font-family: "Agdasima"
}
ul {
  display: inline-block;
  list-style: none;
  color: white;
}
nav ul{
display: flex;
list-style: none;
color: white;
}
li {
  margin: 10px;
  color: white;
}
li span{
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/4_Point_Star.png?v=1689863392328");
background-size: 18px;
background-repeat: no-repeat;
padding: 0px 20px;
}
header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 15px;
}
img#logo {
  width: 170px;
  height: 170px;
  margin-right: 650px;
  }

h1 {
  text-align: center;
  color: white;
  font-size: 65px;
}
p{
  text-align: center;
  color: white;
  font-size: 25px;
}
div#box-1 {
  background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/galaxy%20with%20hole%20gif.gif?v=1689354735373");
  border: white 3.5px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div#box-2{
  background: black;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: white 2.5px solid;
}
div#box-3{
  background: black;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: white 2.5px solid;
  text-align: center;
}
div#box-4{
  background: black;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: white 2.5px solid;
  text-align: center;
}
div#box-5{
  background: black;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: white 2.5px solid;
  text-align: center;
}
h4{
text-align: center;
color: white;
font-size: 15px;
}
div#box-6 {
background: black;
max-width: 75%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
text-align: center;
font-size: 20px;
}
div#box-7{
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
h2{
text-align: center;
color: white;
font-size: 55px;
}
img#ngc6872{
  width: 370px;
  height: 370px;
  border: white 2.5px solid;
}
img#m87{
  width: 370px;
  height: 370px;
  border: white 2.5px solid;
}
img#ic3583{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#ic1101{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#hercules-a{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#eso306-17{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#cometgalaxy{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#andromedagalaxy1{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#andromedagalaxy2{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#andromedagalaxy3{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#andromedagalaxy4{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#cometgalaxy1{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#cometgalaxy2{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#cometgalaxy3{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#cometgalaxy4{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#ic101{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#ic102{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#ic103{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#ic104{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#messier871{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#messier872{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#messier873{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#messier874{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
div#ab-box-1 {
  background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/purplegalaxy.jfif?v=1689258729179");
  border: white 3.5px solid;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div#ab-box-2 {
  background: black;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: white 2.5px solid;
}
h4 {
  text-align: center;
  color: white;
  font-size: 15px;
}
div#ab-box-3 {
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#se-box-1 {
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/IMG_0323.jpeg?v=1689622330301");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#se-box-2 {
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#se-box-3 {
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#hm-box-1 {
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/galaxy-1?v=1689174246801");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#hm-box-2 {
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
text-align: center;
font-size: 20px;
color: white;
}
div#hm-box-3 {
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
h4 {
text-align: center;
color: white;
font-size: 15px;
}
div#pg-box-1 {
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/galaxy2.jpg?v=1689602836722");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#pg-box-2{
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
text-align: center;
}
div#pg-box-3{
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#gn-box-1 {
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/galaxy4.jpg?v=1689693294743");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#gn-box-2 {
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
text-align: center;
font-size: 25px;
}
div#gn-box-3 {
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#set-box-1 {
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/IMG_0324.jpeg?v=1689622539702");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#set-box-2{
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#ar-box-1{
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/spiral%20galaxy.1.jpg?v=1689700727022");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#ar-box-2{
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
text-align: center;
font-size: 35px;
}
div#ar-box-3{
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#andgal-box1{
background: url(https://upload.wikimedia.org/wikipedia/commons/d/dd/Andromeda_Galaxy_2025.jpg);
border: white 3.5px solid;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#cometgal-box1{
background: url(https://cdn.esahubble.org/archives/images/screen/heic0705a.jpg);
border: white 3.5px solid;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#ic1101-box1{
background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQla8mjern90O7D6kJSGaZtmmz7TDNrVw94IvJxvAvIavSLz0qenUsbNc7770ywmWg5evtMYdk&s=10);
border: white 3.5px solid;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#m87-box1{
background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUSEhIVFRUVFxcXFxUXFRcVFxUVFRUXFxcVFRcYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0NFQ8PFS0dFR0tKysrLSstLSstLS0tKy0tLSsrKy0tLS0tKystLS0rLSstLSsrKy0tKy0rLS0tLSstLf/AABEIAOIA3wMBIgACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAABAgMABAUGB//EADMQAAICAAQEBQQCAQMFAAAAAAABAhEDITFBBBJRYXGBkaHwBbHB4dHxEyIjUgYUJDJi/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAEC/8QAFxEBAQEBAAAAAAAAAAAAAAAAAAERMf/aAAwDAQACEQMRAD8A/GDBZqKgoxgogITNmoK1BQ7uT0Xllkl+gABINGSGaAA0YW6tLx00sAaABqGoLCFo1DqOvYzRQtGoYDQCh5nVW61ra+tBSMArYo7iCgFA0MAIWTFYwGAhg0AIDNRgkbZBAhgDF9rC1nrffr6gQ0cgNQTJDABDpX88zKPkagAg0MkGO4Ak7zNQ8pN1eyrRLJaafczQCIbl0dZOw0MkBOgUUoFAIBooo9BQFS6/yCQ1AoBAMZgKhKAxmgALQGOxWEJ8oxmZEaFBMgoKKQ0I26St9AIeDpprJrNdgM406eTWwyC7bbebebb+7NRAEhox07/NzJDJAFxrLLXW708MqAgpDUAOUb50+waCkAqRqKww29PH0BKK19uhUTMx6Dy38yQVGgNFGi/F8KoKDUk+aN5bdmBx0Kyn59xQEaFY7BRUI0Kx6A/n6CJgY1CgIwozj7mRGjBRoxvzyDWzAKGQEh0iD0F9R/8AH/7f/FD/AN+f/JX+5pXLf/HscSM1p4dK39wxRdW3TYdWm1atWrq1ur2NWYyzVZb56er8ho+OvuRCpFEgxiPBdrCF3tZdP7C4FKGUdgI8oVH8nTjz5ndJZJUlSySV+Lq/MnydQI8vXp+MjJa6ad/ainICeHVd8161+GVUuVr09gqDnpWS0yWUU233dLxC0C1XX8eHzYCLW4rRScGhGgEmKxxGBsSbk239q+xNjM041XdXqn69AhJC6DNAlJvV/wBFEgoyYURTJOr2X5Gj3FQyAahoioZEVWGG21HK3pbSXm3kjcoqRXk7X3zp10A0UUjEyWr/ACUSCMolVD5/IYxLRwnV1l17r+16gxKMB1AtHDHWGFxz8hl+ttDp5ASwXWnz4mBxuAuJhtVe6vyOlwJzgEczWX6JyR0Tj3JPy9CiLQrQ7QFXRZeOfYCLFZRoRkCtCMdi0ULQowrKiYUAcish6FQ6QBRRPKvPv/QqGRFMisUIkUigKRiWhG/mQsFlXXP7+h0YSAaMFW97dKzv8F8OAMOB2YeH2IuJwwykcI6sPBOhcORcec8EnKB6ksAhiYRDHmvDW/xbkZQ32WzO7Egc04mpUcU0SaOnERB5FZrnlHfZkpFpInNul0QE0r6L89gStWms9H5BsRgLQrQzEYCsAWAomkFAQyAZDxQiKJBRQ8RYjpEDxReKWWf6JxXbz+eKLQVa+QRXDR04cSMInVhoNOjBid+BhnLgRPU4WBlXTw/D2ehh8F2LfT8Cz6jgvpfMtCNY+OxeDo87iMCj7rjfpbzy01bySPlvqGFVgfOY0DixInqcSjzsYsSuKZCccvfyuvudGKzlxDTFRmSfQriSzbJTfYIlIRlJLXfw69/cm2AJRyWmft4iMa6f8iMBWKMzTavIonF+D8dApGnFJtJ33zp+uYU9gGQyFiUisiKKKQ+fPImiuFW+gRaK9PEtF3q709skc6WZaAHVBV5nThHLho6cMNR34B6vCM8jBZ6PDTMtyPqfps1kfZ/SuPUUfnXCcRR6uFx9bhcfQfWuKUrPjvqEtTr4njr3PG4vHA8/iWedjdTr4iZwYjDLnxGcuIXxGc2IaZqcmq7+1Vll119SMpalWv6+fMiEgyWTFeYWJIA4krrTLfd3nm92TnK/bTLRUFisBWsr2FbCxWUKMBBQDjoSI5A6ZSCFwXTTOjjMeM5XGCgskoq3VLvuwoRK4RCBVxadMI6cNnTCRyaZWn3X7Lxe9fPiDUruwpnbg4h5WHM6cPEM1uV7GFjnQuKPFjilFjBdenicSceNjHNLGI4mKE02LiHFiTHxMQ5ZyKloTZCT+dPAM2QkysUJSJuQZyEa+foIE92TbGlIRgZiluGweecYWo8zSTk6irdW3su4vF4PJOUG4vlbi3F3F06uL3XcCEmIx3V9V6WTZRkMIMgHQ6FhHvt69gpgVit9upbhnFSTkm1atJ1avP2s50xkyDu4/Ew5YkngxcMNv/TGT5ml0b3JRZJMogW6vBlYs5osopAdcJbFIzOSLKKYaldixBv8hy84Oci66pYhKUyMpiymU085kJyNzDYeHzZJX9/n8BHPJkpM7sfg5RWaZxNU/wADUqeX8fsSaphkLJ5hCtjYMU3TdKxGKwOj6jhQhNxhLnX/AC6nK1ldq7qs78elGYsmAGKHPTrt16fcCq879aKgHRw0oJS54tvl/wBFNJKVrOSafMqvLuc4UUUg+16f0O3n07bLwJIpzbW+vm9fsQMPEnEawK82nyxkySY8QqqHTJ4au9bWeS2Wt9DKRBdSHTIKQ0ZgX5gcxP8Ayv3vPqaOJq/H3C6o5jYGFKb5YRcnnklbyTb9k35HNzAU2tAKORTA4jldnLKQJvJPbyCa+g47/qCWLCMJV/pVLJI8TEzIxkrzsbBxFavQkmcW23qclWpJn0PGfSubAWPFx1qSTVp63XTPU+elkJZSzCiMLYEryWvTr4FRk9fmnQRmYLKDe952q/m/Qm2GwWAUFAZisnQ0WIhkBR1eWa2emXgGxL30/A0XWZBR5Wn4VXT7BTFa755dd1nn2BYVVMNk0w2BWw8xNM1kVZSr5tpQOcmmawHbFchbBYDOQJy/YGxWAebpvqLYGwNgdvD8a0qvI5cd5k7A5ADzr5oK35B5hZMqM2u4jCwABegAgCsFCjIrB2woQaIVRS0W38mQsWGwHs1iJjWQUb6eu5rA2qVXed6V2rfqa1+wpn433/sbb59/Qm2ZMB7M2JZrIprDTq9nkIzNhDOVrw9XYpk+muaqvncELbVK30q/YAWBsDYGwGi2mn+xGzNitlBbNONefRhk1SrXO/wTYABZjAawBaa89O+woBCKMkysChkKmYKewi2FMBrCmIEB187h+eIjYUwp/ngHmy79SdhsgazWLYUwC2CwGAILNbXmLYUUB/cyQoRrAaTNKVu3uBmLYzi1nWT0y+wjAwApgkgMmA22ufTt1sBQy1MjGDIhAYBgsxgohMYKaWoImMBjIJgMYJiAF5L/AGk//v8AATEo5mAxijMzMYKQDMYC05PkSvJXXYiAwGYYL55AMUpWKYwR/9k=);
border: white 3.5px solid;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.light{
background-color: darkslateblue;
}
.dark{
background-color: black;
}
h1 + p + div{
text-align: center;
}
