a {
  color: white;
  text-decoration: none;
}
body {
  background: darkslateblue;
  font-family: "Agdasima"
}
ul {
  display: inline-block;
  list-style: none;
  color: white;
}
nav ul{
display: flex;
list-style: none;
color: white;
}
li {
  margin: 10px;
  color: white;
}
li span{
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/4_Point_Star.png?v=1689863392328");
background-size: 18px;
background-repeat: no-repeat;
padding: 0px 20px;
}
header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 15px;
}
img#logo {
  width: 170px;
  height: 170px;
  margin-right: 650px;
  }

h1 {
  text-align: center;
  color: white;
  font-size: 65px;
}
p{
  text-align: center;
  color: white;
  font-size: 25px;
}
div#box-1 {
  background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/galaxy%20with%20hole%20gif.gif?v=1689354735373");
  border: white 3.5px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div#box-2{
  background: black;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: white 2.5px solid;
}
div#box-3{
  background: black;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: white 2.5px solid;
  text-align: center;
}
div#box-4{
  background: black;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: white 2.5px solid;
  text-align: center;
}
div#box-5{
  background: black;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: white 2.5px solid;
  text-align: center;
}
h4{
text-align: center;
color: white;
font-size: 15px;
}
div#box-6 {
background: black;
max-width: 75%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
text-align: center;
font-size: 20px;
}
div#box-7{
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
h2{
text-align: center;
color: white;
font-size: 55px;
}
img#ngc6872{
  width: 370px;
  height: 370px;
  border: white 2.5px solid;
}
img#m87{
  width: 370px;
  height: 370px;
  border: white 2.5px solid;
}
img#ic3583{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#ic1101{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#hercules-a{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#eso306-17{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#cometgalaxy{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#andromedagalaxy1{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#andromedagalaxy2{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#andromedagalaxy3{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#andromedagalaxy4{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#cometgalaxy1{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#cometgalaxy2{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#cometgalaxy3{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#cometgalaxy4{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#ic101{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#ic102{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#ic103{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
img#ic104{
width: 370px;
height: 370px;
border: white 2.5px solid;
}
div#ab-box-1 {
  background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/purplegalaxy.jfif?v=1689258729179");
  border: white 3.5px solid;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div#ab-box-2 {
  background: black;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: white 2.5px solid;
}
h4 {
  text-align: center;
  color: white;
  font-size: 15px;
}
div#ab-box-3 {
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#se-box-1 {
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/IMG_0323.jpeg?v=1689622330301");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#se-box-2 {
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#se-box-3 {
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#hm-box-1 {
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/galaxy-1?v=1689174246801");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#hm-box-2 {
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
text-align: center;
font-size: 20px;
color: white;
}
div#hm-box-3 {
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
h4 {
text-align: center;
color: white;
font-size: 15px;
}
div#pg-box-1 {
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/galaxy2.jpg?v=1689602836722");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#pg-box-2{
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
text-align: center;
}
div#pg-box-3{
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#gn-box-1 {
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/galaxy4.jpg?v=1689693294743");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#gn-box-2 {
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
text-align: center;
font-size: 25px;
}
div#gn-box-3 {
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#set-box-1 {
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/IMG_0324.jpeg?v=1689622539702");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#set-box-2{
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#ar-box-1{
background: url("https://cdn.glitch.global/a3659c66-41ee-4014-85d9-63d53fc11ea7/spiral%20galaxy.1.jpg?v=1689700727022");
border: white 3.5px solid;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#ar-box-2{
background: black;
max-width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
text-align: center;
font-size: 35px;
}
div#ar-box-3{
background: black;
max-width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
border: white 2.5px solid;
}
div#andgal-box1{
background: url(https://upload.wikimedia.org/wikipedia/commons/d/dd/Andromeda_Galaxy_2025.jpg);
border: white 3.5px solid;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
div#cometgal-box1{
background: url(https://cdn.esahubble.org/archives/images/screen/heic0705a.jpg);
border: white 3.5px solid;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
ic1101-box1{
background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8PDxUPDxAPDxUPDw8PDw8PFQ8VFQ8PFRUWFhUVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0NFQ0NFS0ZFRkrNystLTcrLTc3NzcrKysrLy0rMTczKyssLSstKy0yLysrKzA3LSsyNysyNzErKysrN//AABEIAOEA4QMBIgACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAAAAQIDBAUGB//EAC0QAQEAAwABAwMCAwkAAAAAAAABAgMRBBIhMQVBYVHwgZHhEyIjM3GhscHx/8QAFwEBAQEBAAAAAAAAAAAAAAAAAAECA//EABwRAQEBAQACAwAAAAAAAAAAAAABEQIhQRKx0f/aAAwDAQACEQMRAD8A/FTAVAYMAZy3nO3l5efrZ3n/ADf50IoByGBRXBIrgJkPh8PgFwcXMfzPb/ccBPBxXD9II4OL4VgI4F8LgI4XF2ECCquCggqrhAkGShA+ARJgAFQCCnD4IciA4cPhyAIfDkVwC4fFSK4CJD4uYn6QRwcaekekGfBxp6SsBlwuNbimwGdhWLsTYCOJaJsBBVVAIK1RAQBgg4UVFQQ4IaKciiipAEVIJFSAMYvgkaTEEyKmKscVzEETFXpaTFcwTRj6R6XRlr9/tfj4/ML0CsLim4uj0JuIjnuKbG+WKLioxsTY1sRYDKwrGliLARU1dibASmqpUEmACTBgFQlQDipCi4ByLkKReMA5GkxLGNpilCxxaY4nhi3wwRWcwaY4Nsdbaagcs1j+zds1C6QcN1s8sHfdTLLWo4ssWWWLszwY54g5biixvliyyioxsRWtiLAZ2IrSxFBFKqyiaBAAEnCioBxUS0yxstl+ZbL7y+89vme1ARcTFwFSNcYjFpjAaYxtjijCOnDFFPDF069adWDs060C16nThpbadLt1eMjThmgXQ9jDxPweXifhNHg56WGzU9zb4zi3aVMeNs1ufPB6e7W49uDTLgzxY5R17MXPnAc+UZZRvlGWSoyqK0qKCKmqqaBEZAUpwlQDiomKgLxXiiNMQXjGuEZ4tsAa4R168XNhHZqjNV0acXoaMP6OTx8Xp+LilWOzxtL1/G8TrDwdXX0f0/xu/Zm1qOTV4P4PZ4P4fUeP4PZ8H5HgcnwzrWPhvK8TjyPJ0cfaed4n34+e87Rxvnaz14fM+Rrce3x/7vqvx8R9B9R26pf8LCyenH/Msysy5PV7yT273+DwPJrvZxz7+V+v1wl769fGPO3YRy7MXXtjk2Rzbc2UZZN82OSjLjOtMmdBFTVVNAiMAlUTFQDi4iLgLi8UReINcWuDLFrgDo1uzU49bs01mq7vHer4jydFep4uSNR9D9PfV/TJPZ8f4Gx9L9P8jjFaj7f6fjjxp52GPp+I8bxfO5PlXked7fLLWedeZ9U+75L6jH0P1Hye9fM+fsajNeJ5byfIen5eTyvIrcZrh3OTY6t1cmytMsM2OTXNjkqM8mdaVnkCbE06nKAQABMOFDgKiomKgLxaYs4uA1xa4Mca1woOjXXXqriwrp15Ir0NOT0PHzeRqzdunYlWPoPE3PZ8Ty+PldG53afJZsafX6fP591bPP8Ab5fM4eWeXmM4uvT8vy+vF8vcjd5Lg37mpEZ+Rsebvyb7tjh25tRmsdtcudbbK5s6qM82OTaz2t9vbn3nff8ASfN+P31hkqIqKqooJqaqooAgAI4mKgHFxEVAXFxnFwGkrXDJjKvGg6Ma315OXGtsMkHXrzdWvY8/HJtjmK9TXtdGG55WG1rjtRdetPIO+Q8z+2K7jDXdnvc2zc58trHPaYavbn+f6OXZmM82OWSonPJjnVZ5McqIWVZZVVqMqom1FO1NAqmnU0ACMEnCOAqHEynAXFREVKDSVcrKVcoNpWmNYSrxoOjHJpjk5pVzJFdeOa5sckyVMwdc2C7HL6x6wdF2M8s2NzTlkC8s2eWSbkzyyEO1nlRai1QrU2i1NArU07U0CqariaABACXnhcbyzl9v0vzOz4/1QYHFJV2cnJe+/b35/Tk57AcVKg4DTqmcVAaSrxrKVUoNZVTJj1UvsDaZH6mPqP1A29Q9TH1C5A1uSbkz9RWgu5ItK1NoHai0WptAWptNNoFaQpUCpHUgDSYhGRxQ+mQiKpXfb/tHVAqU0QwaYZcs9peXvL3l/kcrPqpQX0+o6Og2yz79ufid9v5l6mfT6C+jqOjoK6Vqel0F9TaVpdA7U0dKgLU0WkApCkAKglQAdAAEYGaTgKln5+3Pf4/hz3BBFVKfUn0FHKmUQF9EqejoL6JU9HQV0T91MHQPo6XS6CulPf4T0dA+lf3+C6QGRAB0jtSoACEAIAYIwMEYGCOAZpNFM4k4BmkAoJ6fQOUdLo7/AOgYqQBjpdIDLoIAASoAQA7UmQAEAMyAGYAAAAYhgCMwilRDAEYAAAACMARGAKgBUIAAUIADqQAAAB//2Q==);
border: white 3.5px solid;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.light{
background-color: darkslateblue;
}
.dark{
background-color: black;
}
h1 + p + div{
text-align: center;
}
